body {
  background-color: #7788A0;
}
.card-container {
  margin: 150px auto;
  border: 2px solid;
  max-width: 500px;
  padding: 40px;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.3);
}

#profile-img {
  display: block;
  margin: 20px auto 40px;
  border-radius: 15%;
  height: 150px;
  width: 150px;
}

.registration .form-control {
  margin: 12px auto;
}

h2 {
  font-size: 3rem;
}

.btn {
  width: 100%;
  cursor: pointer;
}

h2:before, h2:after {
	content: "";
	height: 2px;
	width: 35%;
	background: #d4d4d4;
	position: absolute;
	top: 13%;
	z-index: ;
}
h2:before {
	left: 0;
}
h2:after {
	right: 0;
}
